/* Descendant combinator selector */
li a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

/* child comainator */

ul>li {
    display: inline;
}

/* Adjac_nt sialing comainator */

li+li {
    margin: 16px
}